params {

/* Reference genome
 * ----------------
 * Shortcut, local path, or URL pointing to the FASTA file (or compressed 
 * archive contaning one or more FASTA files).
 * Shortcuts are of the form: <source>.<version>, where the currently 
 * recognized sources are "ensembl" and "ucsc", and the version version 
 * format is specific to the source. For Ensembl human genomes, the version 
 * can be "ensembl.<release>.GRCh<37|38>"; for all other organisms, the 
 * format is "ensembl.<release>.<organism>.<build>". For UCSC, it is simply 
 * "ucsc.<build>".
 */
genome          = 'ensembl.75.GRCh37'

/* Annotation
 * ----------
 * Shortcut, local path, or URL pointing to the annotation file (gff or gtf).
 * Shortcuts are of the form: <source>.<version>, where the only currently 
 * recognized source is "gencode", and the version format is specific to the 
 * source. For gencode, the format is "gencode.<release>.<content>.<regions>"
 * where content is one of "comprehensive" or "lncrna" and regions is "chr"
 * or "all".
 */ 
annotation      = 'gencode.19.comprehensive.all'

/* Directory where downloaded reference (if any) files will be stored. */
reference_dir    = "reference"

/* Directory containing fastq files. */
fastq_dir        = "fastq"

/* FASTQ filename pattern
 * ----------------------
 * Unless FASTQ files are specified in libraries.txt, they will be constructed
 * from other metadata columns. By default, the name begins with the unique ID
 * and contains a file index (if there is more than one file/pair) and a mate
 * index (for paired-end files), e.g. ${UniqueID}_${FileIndex}_${MateIndex}.fastq.gz.
 * You can specify a different pattern using a similar format; all metadata columns
 * are accessible as variables, as are the special variables $FileIndex and $MateIndex.
 */
fastq_pattern    = ''

}
